*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin-top: 0px;
  background-image: url("../img/cork-board.jpg");
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.main {
  width: 420px;
  margin: auto;
  position: relative;
}

.cat{
  position: absolute;
  top: 90px;
  left: 85px;
}

.frame {
  width: 400px;
  position: absolute;
  top: 50px;
  left: 35px;
}

.pin {
  width: 60px;
  position: absolute;
  top: 40px;
  right: 90px;
}
